body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    max-width: 756px;
    padding-top: 10vh;
    box-sizing: border-box;
    color: #00b1ff;
    font-size: 21px;
    line-height: 21px; 
    font-family: monospace;
    text-decoration: none;
}


#link {
    color: #00b1ff;
    text-decoration: none;
    justify-content: center;
}